# Auto detect text files and perform LF normalization
* text=auto

1er hito - Pagina web (html) personal - con materialize.css 
En la pagina tiene que haber una fotografia vuestra y una presentacion.
Incluid si quereis que cosas os gustaria aprender.
