# Auto detect text files and perform LF normalization
* text=auto

1er hito - Pagina web (html) personal - con materialize.css 
En la pagina tiene que haber una fotografia vuestra y una presentacion.
Incluid si quereis que cosas os gustaria aprender.

2o hito - Botón con funcionalidad de scroll.
Iconos a las RRSS (Telegram, Twitter/Instagram/Facebook, GitHub).
Responsive: Dividir la web en dos columnas para PCs y tablets, y 1 columna para moviles.
Extra: Buscador y subrayador de palabras en la web.
